#home-heading {
  background: url("./components/photos/neonbrand-3GZNPBLImWc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;

  .heading-photo {
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0, 0, 0, 0.7);
  }
}

body {
  background: #212529;
}

.navigate {
  opacity: 0.8;
}
